.Content__Title{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #66D6FF;
    height: 12vh;
    margin-left: -13vw;
    margin-right: -13vw;
    margin-bottom: 4%;

}

.Title__style{
    margin-top: 0px;
}

@media (max-width: 800px){

    .Content__Title{
        margin-left: -7vw;
        margin-right: -7vw;
        height: 10vh;
    }

    .Title__style{
        font-size: 32px;
    }

}